<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/icon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <meta name="google-site-verification" content="pUpcf4ouWGB3IU0F-07tjWBt9MFJbXH5KGQKmduloxY" /> -->
    <meta name="google-site-verification" content="2XhL116fzw1RlOw-YEkQBjGaIzQDRP_SyPZrbpsiGU8" />
    <meta name="description" content="Chcete udělat jednoduší tvorbu předkontací do svých classroom? máme pro vás řešení. Stačí jen použít naší webovou aplikaci a ulehčit si pár minutek...">
    <meta name="author" content="Miloslav Stekrt">
    <meta name="keywords" content="kontace, ucto, kontace-ucto, slavek, kontace-ucto google, kontace ucto classrooom, kontace ucto google classroom">
    <meta name="msvalidate.01" content="662D6088EF819B3E194B144B6A0FC3C3" />
    <title>Vybrat z kontaci...</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body class="bg-dark text-white my-5">
    <main class="container">
        <h1 class="mb-4 mx-5 d-flex justify-content-between">
            <span>Vyberte jednu z operaci...</span>
            <span>
                <% if (!auth){ %>
                    <a class="btn btn-primary" href="<%= url %>">Přihlasit se</a>
                <% } else { %>
                    <a class="btn btn-info" href="/logout">Odhlasit se</a>
                <%} %>
            </span>
        </h1>
        <div class="list-group-item list-group-item-action bg-dark px-0">
            <% operations.map(operation => { %>
                <div class="d-flex">
                    <a href="/opt/<%= operation.id %>" class="text-white rounded-3 my-3 form-control bg-secondary" style="text-decoration: none; border: none;">
                        <h3 class="justify-content-between d-flex">
                            <span class="mx-5 my-1"><%= operation.name.charAt(0).toUpperCase() + operation.name.slice(1) %></span>
                            <div>
                                <small>
                                  <small class="mx-4">
                                    <%- operation.classname ? operation.classname: '&empty;' %>
                                  </small>
                                </small>
                            </div>
                        </h3>
                    </a>
                    <% if (typeof operation.author_id != 'undefined' && operation.author_id == code) { %>
                        <a class="btn btn-danger my-3 ms-2 px-3 fs-3" href="/opt/del/<%= operation.id %>">&#128501;</a>
                    <% } %>
                </div>
            <% }) %>
        </div>
        <div class="d-flex">
            <% if(operations.filter(o => typeof o.author_id != 'undefined' && o.author_id == code && (o.classroom == null || o.classroom == "")).length > 0) { %>
                <a href="/back" class="btn btn-warning col p-3 me-4 my-2">Pridelit ke kurzu</a>
            <% } %>
            <a href="/opt/new"  class="text-white btn btn-success col p-3 my-2">Vytvorit novou</a>
        </div>    
    </main>
    <div class="d-flex fixed-bottom text-end px-2 py-4">
        made by Slavek&nbsp;<a href="https://github.com/MiloslavStekrt/kontace-ucto.git">code</a>
    </div>
</body>
</html>
